AddDefaultCharset utf-8

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(jpg|png|js|css)$ [NC]
RewriteRule ^(.*)$ index.php/$l [L]
